.container {
    background-color: #f9f9f9; /* Grey */
    display: flex;
    flex-direction: column;
    padding: 32px 0; /* White Space */
}

.header-container {
  text-align: center;
  margin: 32px auto;
}

.list-container {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    width: 80%;
    align-self: center;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background-color: white;
}

h1 {
    padding: 16px 24px;
    margin: 0;
    font-size: 30px;
    border-bottom: 1px solid #eaeaea;
}

h2 {
  margin: 16px 24px;
  font-size: 18px;
}

#list {
    margin: 32px 0;
}

.list-item {
    border-bottom: 1px solid #eaeaea;
    margin-right: 32px;
    padding: 16px 0;
    font-size: 14px;
}


